.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 220px;
	margin: 20px;
}


.image {
	width: 200px;
	border-radius: 20px 10px 0px 0px;
	margin-top: 10px;
	transition: transform 0.3s ease-in-out;
} 
.image:hover {
	transform: scale(1.5);
  }

.textContainer {
	display: flex;
	flex-direction: column;
	margin: 10px 0px 5px 0px;
	padding: 5px;
	background-color: #EFEFDC;
}

.name {
	font-weight: 600;
}

.description {
	font-weight: 300;
	font-size: 14px;
	
}

.iconContainer {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-top: auto; 
	font-size: 12px;
	margin-top: 20px;
	margin-left: 5px;
}